<a routerLink="/ex01" class="button fancy-button">Ex01</a>
<a routerLink="/ex02" class="button fancy-button">Ex02</a>
<a routerLink="/ex03" class="button fancy-button">Ex03</a>
<a routerLink="/ex04" class="button fancy-button">Ex04</a>
<a routerLink="/ex05" class="button fancy-button">Ex05</a>
<a routerLink="/ex06" class="button fancy-button">Ex06</a>
<a routerLink="/ex07" class="button fancy-button">Ex07</a>
<a routerLink="/ex08" class="button fancy-button">Ex08</a>
<a routerLink="/ex09" class="button fancy-button">Ex09</a>
<a routerLink="/ex10" class="button fancy-button">Ex10</a>
<a routerLink="/ex11" class="button fancy-button">Exam</a>

<router-outlet></router-outlet>
